<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{session.name}} - Informations </title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">                                                                                                        
      <h1>Informations du compte ultra secret</h1>                                                                               
                                                                                                                                 
      <div class="result-item">                                                                                                  
          <span class="result-label">ID</span>                                                                                   
          <span class="result-value">{{ user_id }}</span>                                                                        
      </div>                                                                                                                     
                                                                                                                                 
      <div class="result-item">                                                                                                  
          <span class="result-label">Nom</span>                                                                                  
          <span class="result-value">{{ user_name }}</span>                                                                       
      </div>
      <div class="result-item">                                                                                                  
          <span class="result-label">Mot de passe hashé</span>                                                                                  
          <span class="result-value">{{ user_password[:30] }}...</span>                                                                       
      </div>                                                                                                                                                                                                                               
      <div class="result-item">                                                                                                  
          <span class="result-label">Créé le</span>                                                                              
          <span class="result-value">{{ user_created }}</span>                                                                     
      </div>                                                                                                                     
                                                                                                                                 
      <div class="result-item">                                                                                                  
          <span class="result-label">Modifié le</span>                                                                           
          <span class="result-value">{{ user_updated }}</span>                                                                     
      </div>                                                                                                                     
                                                                                                                                 
      <a href="/" class="back-link">Retour</a>                                                                                   
        </div> 
    </body>
    </html>